body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #F15B31;
    padding: 30px 20px 30px 20px;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

nav {
    background-color: #00A6B3;
    padding: 20px 0 20px 0;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px 0 20px;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid white;
}

main {
    width: 850px;
    margin: 35px auto;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0D2C40;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#score {
    margin: 20px 0 0 0;
}

#score-num {
    color: #F15B31;
}

p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}

img {
    margin: 40px 8px;
}

#game-board {
    position: relative;
}

#outcome-message {
    color: #F15B31;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 99;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 500px;
}

#reset {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 30px 5px 30px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright {
    font-family: "Raleway", sans-serif;
    float: left;
}

.message {
    font-family: "Raleway", sans-serif;
    float: right;
}

.name {
    color: #F15B31;
    font-weight: 700;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}